In [2]:
import pandas as pd
## faire un: pip install owid-catalog
from owid import catalog
import numpy as np

Nous pouvons avoir l'API de MFW :

In [3]:
import requests

# URL de l'API
url = 'https://data-api.globalforestwatch.org/auth/token'

# Données à envoyer dans la requête POST
data = {
    'username': 'philippe.detinguy@ensae.fr',
    'password': 'Philgfw1'
}

# En-têtes de la requête
headers = {
    'Content-Type': 'application/x-www-form-urlencoded'
}

# Envoi de la requête POST
response = requests.post(url, data=data, headers=headers)

# Vérification de la réponse
if response.status_code == 200:
    print('Succès:', response.json())
else:
    print(f'Erreur: {response.status_code}, {response.text}')

response.json()["data"]['access_token']

Succès: {'data': {'access_token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3NDU4MTkzNTlhMzhlYmRiMTZkN2YzYyIsInJvbGUiOiJVU0VSIiwicHJvdmlkZXIiOiJsb2NhbCIsImVtYWlsIjoicGhpbGlwcGUuZGV0aW5ndXlAZW5zYWUuZnIiLCJleHRyYVVzZXJEYXRhIjp7ImFwcHMiOlsicnciXX0sImNyZWF0ZWRBdCI6MTczNDk2NTYxNTA4NCwiaWF0IjoxNzM0OTY1NjE1fQ.hpzmUnjx4GVF2CLnDEnN8pd45MheX_xwfImv7RQQBLs', 'token_type': 'bearer'}, 'status': 'success'}

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3NDU4MTkzNTlhMzhlYmRiMTZkN2YzYyIsInJvbGUiOiJVU0VSIiwicHJvdmlkZXIiOiJsb2NhbCIsImVtYWlsIjoicGhpbGlwcGUuZGV0aW5ndXlAZW5zYWUuZnIiLCJleHRyYVVzZXJEYXRhIjp7ImFwcHMiOlsicnciXX0sImNyZWF0ZWRBdCI6MTczNDk2NTYxNTA4NCwiaWF0IjoxNzM0OTY1NjE1fQ.hpzmUnjx4GVF2CLnDEnN8pd45MheX_xwfImv7RQQBLs'

Cependant, l'access token n'est valide que temporairement, et mon compte étant gratuit, je n'ai pas accès à tout. En accord avec ce que la documentation de MFW recommande, nous allons donc à la place utiliser leur package (qui est directement dans Python), afin d'avoir accès à toutes les données qu'il nous faut.

In [4]:
results = catalog.find("tree")
data = results.iloc[0].load()
data = data.reset_index()
data

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
0,Afghanistan,2001,<NA>,31.75351,<NA>,56.339203,<NA>,<NA>,88.092712
1,Afghanistan,2002,<NA>,67.850754,<NA>,110.789612,<NA>,<NA>,178.640366
2,Afghanistan,2003,<NA>,113.221039,<NA>,131.115219,<NA>,<NA>,244.336258
3,Afghanistan,2004,<NA>,131.220551,<NA>,70.224403,<NA>,<NA>,201.444946
4,Afghanistan,2005,<NA>,102.621201,<NA>,133.335632,<NA>,<NA>,235.956833
...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582

In [5]:
df_owid=pd.DataFrame(data)
df_owid

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
0,Afghanistan,2001,<NA>,31.75351,<NA>,56.339203,<NA>,<NA>,88.092712
1,Afghanistan,2002,<NA>,67.850754,<NA>,110.789612,<NA>,<NA>,178.640366
2,Afghanistan,2003,<NA>,113.221039,<NA>,131.115219,<NA>,<NA>,244.336258
3,Afghanistan,2004,<NA>,131.220551,<NA>,70.224403,<NA>,<NA>,201.444946
4,Afghanistan,2005,<NA>,102.621201,<NA>,133.335632,<NA>,<NA>,235.956833
...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582

Pour pouvoir faire la régression et lier ces données aux autres, nous allons remplacer les données vides par 0

In [6]:
# Remplacer toutes les valeurs NaN par 0
df_owid = df_owid.apply(lambda col: col.fillna(0) if col.isnull().any() else col)
df_owid

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
0,Afghanistan,2001,0.0,31.75351,0.0,56.339203,0.0,0.0,88.092712
1,Afghanistan,2002,0.0,67.850754,0.0,110.789612,0.0,0.0,178.640366
2,Afghanistan,2003,0.0,113.221039,0.0,131.115219,0.0,0.0,244.336258
3,Afghanistan,2004,0.0,131.220551,0.0,70.224403,0.0,0.0,201.444946
4,Afghanistan,2005,0.0,102.621201,0.0,133.335632,0.0,0.0,235.956833
...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582

On exporte les données df_owid en csv

In [7]:
# Export des données en csv
df_owid.to_csv('df_owid.csv', index=False)