In [3]:
import pandas as pd
## faire un: pip install owid-catalog
from owid import catalog

Nous pouvons avoir l'API de MFW :

In [ ]:
import requests

# URL de l'API
url = 'https://data-api.globalforestwatch.org/auth/token'

# Données à envoyer dans la requête POST
data = {
    'username': 'philippe.detinguy@ensae.fr',
    'password': 'Philgfw1'
}

# En-têtes de la requête
headers = {
    'Content-Type': 'application/x-www-form-urlencoded'
}

# Envoi de la requête POST
response = requests.post(url, data=data, headers=headers)

# Vérification de la réponse
if response.status_code == 200:
    print('Succès:', response.json())
else:
    print(f'Erreur: {response.status_code}, {response.text}')

response.json()["data"]['access_token']

Cependant, l'access token n'est valide que temporairement, et mon compte étant gratuit, je n'ai pas accès à tout. En accord avec ce que la documentation de MFW recommande, nous allons donc à la place utiliser leur package (qui est directement dans Python), afin d'avoir accès à toutes les données qu'il nous faut.

In [4]:
results = catalog.find("tree")
df = results.iloc[0].load()
df

                  commodity_driven_deforestation     forestry  \
country     year
Afghanistan 2001                            <NA>     31.75351
            2002                            <NA>    67.850754
            2003                            <NA>   113.221039
            2004                            <NA>   131.220551
            2005                            <NA>   102.621201
...                                          ...          ...
Zimbabwe    2019                        1.382205  6526.898438
            2020                        1.017816  2693.831543
            2021                        1.600864  2937.024658
            2022                        4.023651  3659.499756
            2023                        4.559243  1984.676147

                  shifting_agriculture     unknown  urbanization   wildfire  \
country     year
Afghanistan 2001                  <NA>   56.339203          <NA>       <NA>
            2002                  <NA>  110.789612          <NA>       <NA>
            2003                  <NA>  131.115219          <NA>       <NA>
            2004                  <NA>   70.224403          <NA>       <NA>
            2005                  <NA>  133.335632          <NA>       <NA>
...                                ...         ...           ...        ...
Zimbabwe    2019           4999.389648   12.587267      1.833442  11.238701
            2020           3496.378174   17.037254      2.787108  13.867128
            2021            6014.73584   68.924423      3.738736  28.462732
            2022           4522.879883   45.421551      3.960732  29.195229
            2023           3655.317627    7.503813      8.215701   30.09897

                         total
country     year
Afghanistan 2001     88.092712
            2002    178.640366
            2003    244.336258
            2004    201.444946
            2005    235.956833
...                        ...
Zimbabwe    2019  11553.330078
            2020   6224.918945
            2021   9054.487305
            2022   8264.980469
            2023   5690.371582

[4804 rows x 7 columns]

In [5]:
ligne= df.loc["France"]
ligne

,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
year,,,,,,,
2001,<NA>,32516.966797,75.789345,588.197571,228.958481,1011.051331,34420.964844
2002,<NA>,32730.068359,81.617653,288.540222,46.171986,741.998962,33888.398438
2003,<NA>,24546.8125,82.225327,240.109299,144.282303,1379.904785,26393.333984
2004,<NA>,73151.710938,183.336044,593.484741,184.720718,2021.093384,76134.34375
2005,<NA>,44690.726562,140.642944,433.84552,109.521713,1015.855896,46390.59375
2006,<NA>,52741.191406,170.591614,432.899719,153.751404,1551.041626,55049.476562
2007,<NA>,47489.636719,154.953506,406.073761,167.782867,1027.72583,49246.171875
2008,<NA>,83373.460938,147.269287,680.660767,404.33905,2349.666992,86955.398438
2009,<NA>,65074.363281,121.662506,514.032776,278.809723,1064.732178,67053.601562
2010,<NA>,140902.75,177.021133,664.061279,122.693016,1398.682251,143265.203125
2011,<NA>,62458.890625,141.986847,367.632843,168.899231,936.906189,64074.316406
2012,<NA>,65111.136719,179.600418,670.282654,100.960732,1240.638306,67302.617188
2013,<NA>,29464.019531,139.983765,224.852356,42.847263,480.133209,30351.835938
2014,<NA>,43012.660156,184.574326,280.333435,63.922802,817.572693,44359.0625
2015,<NA>,36251.847656,134.57959,179.2565,42.290352,684.556335,37292.53125
2016,<NA>,58941.929688,263.882996,263.165039,127.032578,1172.459351,60768.46875
2017,<NA>,65167.59375,1007.016479,414.717682,105.353989,2554.36084,69249.039062
2018,<NA>,66982.40625,299.645538,465.17627,126.234871,1327.96936,69201.429688
2019,<NA>,78307.132812,415.779388,570.025635,155.526962,1855.701294,81304.164062
2020,<NA>,73767.171875,295.842682,499.941345,112.548576,3070.229492,77745.734375
2021,<NA>,109673.289062,236.094238,682.245911,197.088348,2097.314453,112886.03125
2022,<NA>,56628.773438,441.764618,303.753967,141.067108,1270.021606,58785.378906
2023,<NA>,84854.578125,228.101379,169.381699,236.128632,791.156921,86279.34375